language: android
jdk: oraclejdk8
android:
components:
- tools
- build-tools-25.0.0
- android-25
- extra-android-m2repository
- extra-android-support
notifications:
email: false
before_install:
- chmod +x gradlew
script: ./gradlew clean
