language: android
android:
components:
- platform-tools
- build-tools-25.0.0
- android-25
- extra-android-m2repository
jdk:
- oraclejdk8
sude: required
licenses:
- 'android-sdk-preview-license-52d11cd2'
- 'android-sdk-license-.+'
- 'google-gdk-license-.+'
script:
- ./gradlew clean build --stacktrace
before_install:
- chmod +x gradlew
branches:
only:
- master
